aiohttp
aiohttp_socks
beautifulsoup4
browser_cookie3
curl_cffi
duckduckgo_search
flask
flask_babel
flask_caching
flask_compress
gunicorn
orjson
pillow
platformdirs
pyExecJS
pyVirtualDisplay
redis
typing_extensions
undetected_chromedriver
