aiohttp
aiohttp_socks
async_property
beautifulsoup4
browser_cookie3
cairosvg
curl_cffi
duckduckgo_search
Flask
flask_babel
Flask_Compress
gunicorn
orjson
Pillow
platformdirs
py_arkose_generator
PyExecJS
PyVirtualDisplay
typing_extensions
undetected_chromedriver
