aiohttp==3.9.1
aiohttp_socks==0.8.4
beautifulsoup4==4.10.0
browser_cookie3==0.19.1
curl_cffi==0.5.10
duckduckgo_search==4.1.1
Flask==3.0.2
flask_babel==4.0.0
Flask_Compress==1.14
gunicorn==21.2.0
gunicorn==20.1.0
orjson==3.9.15
platformdirs==2.5.1
PyExecJS==1.5.1
pyvirtualdisplay==3.0
selenium==4.18.1
typing_extensions==3.10.0.2
undetected_chromedriver==3.5.4
