.sidebar {
	min-width: 260px;
	width: auto;
	padding: var(--section-gap);
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-right: 4px;
}

.sidebar .title {
	font-size: 14px;
	font-weight: 500;
}

.sidebar .conversation-sidebar {
	padding: 4px 12px;
	display: flex;
	gap: 18px;
	align-items: flex-end;
	user-select: none;
	justify-content: space-between;
}

.sidebar .conversation-sidebar .left {
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 10px;
}

.sidebar .material-icons-round {
	color: var(--conversations);
	cursor: pointer;
	align-self: center;
}

.sidebar .top {
	display: flex;
	flex-direction: column;
	overflow: auto;
	gap: 16px;
	height: max(80%);
	margin-top: 20px;
	white-space: normal;
}

.sidebar .top:hover {
	overflow: auto;
}

.sidebar .info {
	padding: 8px 12px 0px 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	background: transparent;
	width: 100%;
	border: none;
	text-decoration: none;
}

.sidebar .info span {
	color: var(--conversations);
	font-size: 0.75rem;
}

.sidebar-footer {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sidebar-footer button {
	cursor: pointer;
	user-select: none;
	background: transparent;
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
  }
    
  .popup .popuptext {
	visibility: hidden;
	width: max(60vw);
	background-color: var(--blur-bg);
	color: var(--conversations);
	text-align: left;
	border: var(--blur-border);
	box-shadow: var(--blur-box-shadow);
	border-radius: var(--border-radius-1);
	padding: 8px;
	position: absolute;
	z-index: 1000;
	bottom: 1em;
	left: 0.5em;
	white-space: pre-wrap;
	hyphens: auto;
  }
  
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
  }
  
  @-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }

.sidebar.shown {
	position: fixed;
	top: 6px;
	left: 10px;
	width: max(70vw);
	height: max(98%);
	z-index: 1000;
	border: none;
	box-shadow: var(--blur-box-shadow);
}

.sidebar.shown .box {
	background-color: #16171a;
	width: 80%;
	height: 100%;
	overflow-y: auto;
}

.sidebar.shown #sidebar-button {
	margin-top: 24px;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

/* scrollbar */
.sidebar .top::-webkit-scrollbar {
	width: 4px;
	padding: 8px 0px;
}

.sidebar .top::-webkit-scrollbar-track {
	background-color: #ffffff00;
}

.sidebar .top::-webkit-scrollbar-thumb {
	background-color: #555555;
	border-radius: 10px;
}

.spinner:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 45%;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid var(--conversations);
	border-top-color: white;
	animation: spinner 0.6s linear infinite;
}

.menu-button {
	display: none !important;
	position: absolute;
	z-index: 100000;
	top: 0;
	left: 0;
	margin: 10px 18px;
	font-size: 1rem;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	transition: 0.33s;
}

.menu-button span {
	transition: 0.33s;
}

.rotated {
	transform: rotate(360deg);
}

.menu-button.rotated {
	position: absolute;	
}

@media screen and (max-width: 990px) {
	.sidebar {
		display: none;
		width: 100%;
		max-width: none;
	}
	.menu-button {
		display: flex !important;
	}
	.sidebar .top {
		gap: 12px !important;
	}
}

@media (min-width: 990px) {
	.sidebar.shown {
		position: static;
		width: auto;
		height: auto;
		background-color: transparent;
	}
	.sidebar.shown .box {
		background-color: #16171a;
		width: auto;
		height: auto;
		overflow-y: auto;
	}
}

@media all and (display-mode: standalone) {
 	.sidebar * {
		font-size: 1.0rem !important;
	}
}

.material-icons-round.chat {
	font-size: 1.6rem !important;
}
	
.material-icons-round.delete {
	right: 6px;
	font-size: 0.9rem !important;
}

@media all and (display-mode: standalone) {
	.material-icons-round.delete {
	text-indent: -9999px;
	}
}

@media all and (display-mode: standalone) {
.conversation-sidebar:hover .material-icons-round.delete {
	transition-delay: 1s;
   	text-indent: 0 !important;
	}
}